.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.container--sm {
    max-width: 1021px;
}

body,
button,
a {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body {
    overflow-x: hidden;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

body.active-body {
    overflow: hidden;
}

.white-btn {
    width: 112px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #15499F;
    transition: background .3s, color .3s;
}

.white-btn:hover {
    background: #15499F;
    color: #fff;
}

.blue-btn {
    width: 174px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #15499F;
    color: #fff;
    border-radius: 4px;
    transition: background .2s;
}

.blue-btn:hover {
    background: #3677e4;
}

.gray-btn {
    background: #A7A7A7;
}

@media (max-width: 600px) {
    .gray-btn {
        display: none !important;
    }
}

.gray-btn:hover {
    background: #0B1F35;
}

.content {
    background: url("../img/bg.svg") no-repeat;
    background-size: contain;
    padding: 200px 0 0;
    min-height: 720px;
}

@media (max-width: 700px) {
    .content {
        padding: 100px 0 0;
        min-height: 550px;
    }
}

.content__inner {
    max-width: 775px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #0B1F35;
    text-align: center;
    margin-bottom: 49px;
}

@media (max-width: 700px) {
    .title {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .title {
        text-align: left;
        padding-left: 15px;
        font-size: 25px;
        margin-bottom: 20px;
    }
}

.form {
    display: flex;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .form {
        flex-direction: column;
        align-items: center;
    }
}

.form__input-wrapper {
    position: relative;
    margin-right: 30px;
}

@media (max-width: 800px) {
    .form__input-wrapper {
        margin-right: 15px;
    }
}

@media (max-width: 700px) {
    .form__input-wrapper {
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .form__input-wrapper {
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    .form__input-wrapper {
        width: 100%;
    }
}

.form1__input-svg {
    width: 19px;
    height: 19px;
}

.form1__input-btn {
    position: absolute;
    top: 54%;
    right: 15px;
    transform: translateY(-50%);
    display: none;
}

@media (max-width: 600px) {
    .form1__input-btn {
        display: block;
    }
}

.form__input {
    padding: 15px 0 15px 30px;
    width: 570px;
    border: 1px solid #15499F;
    border-radius: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

@media (max-width: 800px) {
    .form__input {
        width: 400px;
    }
}

@media (max-width: 700px) {
    .form__input {
        width: 350px;
    }
}

@media (max-width: 600px) {
    .form__input {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .form__input {
        width: 100%;
        font-size: 16px;
        padding: 10px 0 10px 15px;
    }
}

@media (max-width: 400px) {
    .form__input {
        font-size: 14px;
        padding: 10px 0 10px 10px;
    }
}

.form__input::-moz-placeholder {
    color: #C6C6C6;
}

.form__input:-ms-input-placeholder {
    color: #C6C6C6;
}

.form__input::placeholder {
    color: #C6C6C6;
}

.form__input:focus {
    border: 1.5px solid #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

.content__text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px; }
  @media (max-width: 500px) {
    .content__text {
      font-size: 16px; } }

.hidden-text {
  margin-top: 15px; }

.success {
  color: #04BA00; }

.failure {
  color: #FF0021; }

.form1__hidden-btn {
  display: none;
  margin-right: 10px; }
  .form1__hidden-btn:last-child {
    margin-right: 0; }
  .form1__hidden-btn.active {
    display: block; }
  @media (max-width: 600px) {
    .form1__hidden-btn {
      margin: 10px 0 0; } }

.form1__btn {
  display: none; }
  .form1__btn.active {
    display: block; }
    @media (max-width: 600px) {
      .form1__btn.active {
        display: none; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

input:focus,
textarea:focus {
  outline: 0; }

a {
  text-decoration: none; }

button {
  border: 0;
  background: none;
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25); }
  @media (max-width: 900px) {
    .header {
      height: 60px; } }
  .header .container {
    height: 100%; }
  .header .white-btn {
    margin-right: 13px; }
  .header.active {
    z-index: 1000;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden; }
    .header.active .white-btn {
      margin: 10px 0;
      width: 120px;
      height: 54px; }
    .header.active .blue-btn {
      width: 120px;
      height: 54px; }

.header__main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
  .header__main.active {
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100%; }

.header__svg {
  width: 121px;
  height: 54px; }
  @media (max-width: 1100px) {
    .header__svg {
      width: 90px; } }
  @media (max-width: 400px) {
    .header__svg {
      width: 70px; } }

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__inner.active {
    flex-direction: column; }

.nav {
  margin-right: 30px;
  transition: transform .5s; }
  @media (max-width: 900px) {
    .nav {
      transform: translateY(-150%);
      display: flex;
      max-width: 0;
      max-height: 0;
      overflow: hidden;
      flex-direction: column;
      align-items: center;
      margin-right: 0; } }
  .nav.active {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    transform: translateY(0); }

.nav__link {
  margin-right: 15px;
  color: #000;
  transition: color .2s; }
  @media (max-width: 1000px) {
    .nav__link {
      margin-right: 10px; } }
  @media (max-width: 900px) {
    .nav__link {
      margin: 0 0 10px;
      font-size: 18px; } }
  .nav__link:hover {
    color: #15499F; }
  .nav__link:last-child {
    margin-right: 0; }

@media (max-width: 1100px) {
  .header__blue-btn {
    width: 100px;
    height: 54px; } }

@media (max-width: 900px) {
  .header__blue-btn {
    height: 40px;
    font-size: 14px; } }

@media (max-width: 600px) {
  .header__blue-btn {
    width: 80px; } }

@media (max-width: 1100px) {
  .header__white-btn {
    width: 80px;
    height: 54px; } }

@media (max-width: 900px) {
  .header__white-btn {
    height: 40px;
    font-size: 14px; } }

@media (max-width: 600px) {
  .header__white-btn {
    width: 60px; } }

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.hamburger {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer; }

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: #15499F;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute; }

.bar1 {
  top: 0; }

.bar2,
.bar3 {
  top: 13.5px; }

.bar3 {
  right: 0; }

.bar4 {
  bottom: 0; }

/* HAMBURGER 1 */
.checkbox1-label {
  display: none;
  margin-left: 20px; }
  @media (max-width: 900px) {
    .checkbox1-label {
      display: block; } }
  @media (max-width: 400px) {
    .checkbox1-label {
      margin-left: 15px; } }
  .checkbox1-label.active {
    position: absolute;
    top: 15px;
    right: 15px;
    margin-left: 0; }

.checkbox1:checked + label > .hamburger1 > .bar1 {
  transform: rotate(45deg);
  transform-origin: 5%;
  width: 41px; }

.checkbox1:checked + label > .hamburger1 > .bar2 {
  transform: translateX(-40px);
  background-color: transparent; }

.checkbox1:checked + label > .hamburger1 > .bar3 {
  transform: translateX(40px);
  background-color: transparent; }

.checkbox1:checked + label > .hamburger1 > .bar4 {
  transform-origin: 5%;
  transform: rotate(-45deg);
  width: 41px; }

.step2 {
  margin-top: 25px;
  opacity: 0;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity .5s; }
  .step2.active {
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
    overflow: visible; }

.step2__title {
  color: #0B1F35;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  margin-bottom: 15px; }
  @media (max-width: 500px) {
    .step2__title {
      font-size: 22px;
      text-align: center; } }

.step2__form {
  display: flex;
  align-items: flex-end; }
  @media (max-width: 500px) {
    .step2__form {
      flex-direction: column;
      align-items: center; } }

.step2__input {
  width: 298px;
  height: 54px;
  margin-top: 5px;
  border: 1px solid #15499F;
  border-radius: 10px;
  padding: 0 10px 0 20px; }
  .step2__input:focus {
    border-color: #000; }

.step2__inner {
  margin-right: 35px;
  width: 298px;
  position: relative; }
  @media (max-width: 600px) {
    .step2__inner {
      margin-right: 10px; } }
  @media (max-width: 500px) {
    .step2__inner {
      margin: 0 0 40px;
      text-align: center; } }
  .step2__inner:last-child {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }

.step2-hidden-text {
  position: absolute;
  bottom: -30px;
  left: 0;
  color: #FF0021;
  font-size: 18px;
  display: none; }
  .step2-hidden-text.active {
    display: block; }

.footer {
  background: #F5F5F6;
  padding: 50px 0 27px; }

.footer__main {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000; }

.footer__content {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 500px) {
    .footer__content {
      flex-wrap: wrap;
      justify-content: space-around; } }

@media (max-width: 500px) {
  .footer__inner {
    flex-basis: 48%;
    margin-bottom: 40px; } }

@media (max-width: 400px) {
  .footer__inner {
    text-align: center; } }

@media (max-width: 500px) {
  .footer__inner:last-child {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.footer-inner__title {
  color: #15499F;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700; }

.footer__links {
  margin-top: 10px;
  display: flex;
  flex-direction: column; }

.footer__link {
  margin-bottom: 7px;
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300; }
  .footer__link:last-child {
    margin-bottom: 0; }

.footer__contacts {
  display: flex; }
  @media (max-width: 800px) {
    .footer__contacts {
      flex-direction: column;
      align-items: center; } }

.footer__svg1 {
  width: 20px;
  height: 20px;
  margin-right: 13px; }

.footer__svg2 {
  width: 18px;
  height: 18px; }

.footer-contacts__item {
  display: flex;
  align-items: center;
  margin-right: 13px; }
  @media (max-width: 800px) {
    .footer-contacts__item {
      margin: 0 0 10px; } }
  .footer-contacts__item:last-child {
    margin-right: 0; }
    @media (max-width: 800px) {
      .footer-contacts__item:last-child {
        margin: 0; } }
  .footer-contacts__item a {
    white-space: nowrap; }

.footer__social {
  display: flex;
  align-items: center; }

.footer-social__item {
  margin-right: 8px; }
  .footer-social__item:last-child {
    margin-right: 0; }

.footer__btn {
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  padding: 15px 13px;
  background: #15499F;
  border-radius: 4px;
  transition: background .2s; }
  .footer__btn:hover {
    background: #3677e4; }

.footer__inner--middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.footer__privacy {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400; }

.privacy__adress {
  margin-top: 12px;
  color: #8B8B8B; }

.footer__rights {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 13px; }

.modal {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 1001;
  max-width: 0;
  max-height: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: display .2s, z-index .2s; }
  .modal.active {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%; }
    .modal.active .modal__main {
      transform: translateY(0); }

.modal__main {
  border-radius: 25px;
  max-width: 361px;
  width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  background: #fff;
  overflow-y: auto;
  transform: translateY(-100%);
  transition: transform .5s;
  padding: 30px 25px;
  position: relative; }
  @media (max-width: 362px) {
    .modal__main {
      border-radius: 0; } }

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 15px;
  height: 15px;
  z-index: 100; }

.modal__svg {
  width: 15px;
  height: 15px;
  pointer-events: none; }

.modal__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px; }
  @media (max-width: 400px) {
    .modal__title {
      font-size: 22px; } }

.modal__input {
  border: 1px solid #0B1F35;
  border-radius: 7px;
  width: 311px;
  height: 49px;
  font-size: 20px;
  margin: 21px 0 24px;
  padding: 0 10px 0 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400; }
  .modal__input::-moz-placeholder {
    color: rgba(125, 125, 125, 0.5); }
  .modal__input:-ms-input-placeholder {
    color: rgba(125, 125, 125, 0.5); }
  .modal__input::placeholder {
    color: rgba(125, 125, 125, 0.5); }
  .modal__input:focus {
    border: 2px solid #000; }

.modal__resend {
  display: flex; }

.modal__btn {
  padding: 17px 36px;
  background: #15499F;
  color: #fff;
  border-radius: 4px;
  opacity: .2;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background .2s; }
  .modal__btn:hover {
    background: #3677e4; }
  .modal__btn.active {
    opacity: 1;
    pointer-events: auto; }

.modal__text {
  color: #0B1F35;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  margin-bottom: 5px; }

.modal__num-text {
  font-size: 18px; }

.modal__no-sms {
  margin-bottom: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #0B1F35;
  align-self: flex-start; }

.modal__resend {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #0B1F35;
  align-self: flex-start;
  margin-bottom: 24px; }

.resend-btn {
  color: #15499F;
  text-decoration: underline;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin-right: 2px; }

.sms-time {
  color: #15499F;
  margin: 0 4px; }

.info {
  display: flex;
  align-items: flex-start;
  background: #fff;
  margin: 25px 0 50px;
  font-size: 20px;
  color: #0B1F35;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  opacity: 0;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity .5s; }
  @media (max-width: 600px) {
    .info {
      flex-direction: column;
      align-items: center; } }
  @media (max-width: 400px) {
    .info {
      font-size: 16px; } }
  .info.active {
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
    overflow: visible; }

.info__inner {
  margin-right: 40px; }
  @media (max-width: 600px) {
    .info__inner {
      margin: 0 0 40px; } }
  .info__inner:last-child {
    margin: 0;
    align-self: flex-start; }

.info__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #0B1F35;
  margin-bottom: 20px; }

.info__item {
  border-bottom: 1px solid #15499F;
  margin-bottom: 15px; }
  .info__item:last-child {
    margin-bottom: 0;
    border-bottom: 0; }

.info__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; }

.info-item__title {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #0B1F35; }

.info__parametr {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600; }

.info__download-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin-bottom: 10px; }

.info__svg {
  width: 44px;
  height: 44px; }
